.container {
    
    margin: auto;
    max-width: 800px;
    font-family: sans-serif;
  }

  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }
  .sidepage {
    display: flex;
    height: 100%;
    justify-content: space-between;
    
  }

  .sidebarst {
    padding-right: 2rem;
    padding-left: 2rem;
    border-left: 1px;
    
  }